
body {
    background-image: url("images/zoo.jpg");
}

 a {
text:purple;
font-size: 50px;
text-decoration: underline;}

p {
text:black;
font-size: 30px;
}
img{
  width:450px;
  height:300px;
  border-radius: 25px;

}
